/* Add application styles & imports to this file! */
body {
	background-color: darkblue;
}
h1 {
	background-color: lightskyblue;
}
a {
	background-color: lavender;
}
p {
	background-color: blueviolet;
}
