/* Add application styles & imports to this file! */

.myDiv {
	border: 5px outset red;
	background-color: lightblue;    
	text-align: center;
}

* {
	background-color: blue;
}

head {
	background-color: pink;
}

img {
	background-color: transparent;
}

body {
	background-color: transparent;
	position: relative;
}
h1 {
	background-color: lightskyblue;
}
a {
	background-color: lavender;
}
p {
	background-color: blueviolet;
}
