@if (isLoggedin) {
	@if (profileForm.value.name != '') {
		<h2> Hello {{profileForm.value.name}} </h2>
	} @else {
		<h2> Hello Stranger :) </h2>
	}
	<body> 
		<form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
			<p> 
				<label>
					What is your name? 
					<input id="nickname" type="text" formControlName="name" />
				</label>
			</p>
			<p>
				<label>
					Hi {{profileForm.value.name}}, what are your hobbies?
					<input id="hobbies" type="text" formControlName="hobby" />
				</label>
			</p>
			<p>
				<button type="submit" [disabled]="!profileForm.valid">Submit</button>
			</p>
		</form>
	
		your channels are: 
		<ul>
		@for (channel of channelsJoined; track channel.id) {
			<li> - Channel "{{channel.name}}" </li>
		}
		</ul>
	
	</body>
}
@else 
{
	<h2> Please log in </h2>
	<button (click)="logInNow()">
		log in now
	</button>
}